##################################
# windows .gitignore from github #
##################################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

##################################
# eclipse .gitignore from github #
##################################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

##################################
# java .gitignore from github    #
##################################

*.class

# Package Files #
*.jar
*.war
*.ear

##################################
# maven .gitignore from github   #
##################################

target/

##################################
# excel spreadsheet test files   #
##################################

*.xlsx
*.xls

##################################
# intellij gitignore from github #
##################################
*.iml
*.ipr
*.iws
.idea/
